body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: #f4f4f4;
}
.section-dark{
    background-color: #282E34;
    color: #ddd;
}
.ptext{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    color: #000;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    color: #fff;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
    font-weight: 700;
}
.pimg1, .pimg2, .pimg3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: relative;
    /* for parallax effect */
    background-attachment: fixed;
}
.pimg1{
    background-image: url("../imgs/img1.jpg");
    min-height: 100vh;
    
}
.pimg2{
    background-image: url("../imgs/img1.jpg");
    min-height: 60vh;
}
.pimg3{
    background-image: url("../imgs/img3.jpeg");
    min-height: 60vh;
}

@media (max-width: 560px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}